{% extends "base.html" %} {% load static %} {% block content %}

<header class="header-home">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Titillium' rel='stylesheet'>
  <div class="header-superior">
    <div class="header-whats">
      <i></i>
      <p class="text-header-whats">Atendimento WhatsApp</p>
    </div>

    <div class="header-dropdown-cidade">
      <!-- Forms Para a seleção -->
      <form method="post">{% csrf_token %} {{ cidadeForms.as_p }}</form>
      <!-- para resolver e só colocar onchange="this.form.submit();" no select -->
    </div>
  </div>

  <div class="header-menu">
    <div class="header-menu-logo"></div>
    <ul>
      <li>
        <a href="#">
          <img src="{% static 'img/efeito-decorativos.svg' %}" alt="Efeito Decorativos">
        </a>
      </li>
      <li><img href="#">Simulador</a></li>
      <li><img href="#">Calculadora</a></li>
      <li><img href="#">Dúvidas?</a></li>
    </ul>
    </nav>

    <div class="header-lista-buttons-box">
      <ul class="header-lista-buttons">
        <li><a href="#">Comprar pelo Whats</a></li>
        <li>
          <a href="#" class="header-lista-buttons-ancora-1">
            <img src="{% static 'img/usuario_icon.svg' %}" class="header-lista-imagem-ancora-1" />
            Entrar ou Registrar
          </a>
        </li>
        <li>
          <a href="#" class="header-lista-buttons-ancora-2">
            <img src="{% static 'img/caminhao-de-mao.svg' %}" class="header-lista-imagem-ancora-2" />
            Carinho</a>
        </li>
      </ul>
    </div>
  </div>
</header>














<main class="container-main">
  <section class="container-main-section-cor"></section>

  <section class="container-main-barra-option">
    <nav class="list-categorias">
      <ul>
        <li><a href="#">Produtos</a></li>
        <li><a href="#">Simulador</a></li>
        <li><a href="#">Calculadora</a></li>
        <li><a href="#">Dúvidas?</a></li>
      </ul>
    </nav>
  </section>
</main>


<footer>

  <div class="px-5">
    <div class="row">
      <div class="col-md-2">
        <strong
          style="font-family: Montserrat; font-style: normal; font-weight: 500; font-size: 18px; line-height: 20px; letter-spacing: -0.015em; color: #38433F;">Atendimento</strong>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          letter-spacing: -0.015em;
          color: #38433F;" href="#">
          <p>Acompanhar pedido</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Perguntas frequentes</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Atendimento pelo WhatsApp</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Compre pelo instagram</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Tudo sobre nossas tintas</p>
        </a>
      </div>
      <div class="col-md-2">
        <strong>Como Trabalhamos</strong>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Como Trabalhamos</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Pagamento</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Termos e condições de uso do site</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Entrega</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Troca e devolução</p>
        </a>
      </div>
      <div class="col-md-2">
        <strong>Pintow para Você</strong>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Compra Planejada</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Ofertas Especiais</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Pacote Reforma</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Lojas Parceiras</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Arquiteto Pintow</p>
        </a>
      </div>
      <div class="col-md-2">
        <strong>Institucional</strong>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Sobre a Pintow</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Nossa Experiência</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Imprensa</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Lojas Parceiras</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Ranking</p>
        </a>
      </div>
      <div class="col-md-2">
        <strong>Cartelas</strong>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Cartela Pisos</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Cartela Esmaltes</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Cartela Texturas</p>
        </a>

        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Cartela Tintas</p>
        </a>
        <a class="link-dark text-decoration-none" style="font-family: Montserrat;" href="#">
          <p>Cartela Colors 20</p>
        </a>
      </div>
    </div>

    <div class="py-4" style="display: inline-block; position: relative; width: 100%">
      <hr />

      <a href="#navbar" style="position: absolute; top: 50%; right: 50%; transform: translateY(-50%) translateX(50%);">
        <img src="{% static 'img/seta_topo.png' %}" alt="Botão topo" />
      </a>
    </div>

    <div class="row align-items-end">
      <div class="col-md-4">
        <strong>Forma de pagamento</strong>
        <br>
        <img src="{% static 'img/pagamento_credito.png' %}" alt="Pagamento Crédito" class="img-fluid" />
        <img src="{% static 'img/pagamento_boleto.png' %}" alt="Pagamento Boleto" class="img-fluid" />
      </div>
      <div class="col-md-4">
        <strong>Compra segura</strong>
        <br>
        <img src="{% static 'img/compra_segura.png' %}" alt="Compra segura" />
      </div>
      <div class="col-md-3">
        <br>
        <img src="{% static 'img/logo pintow2.png' %}" alt="Pintow" class="img-fluid " style="max-width: 60%" />
      </div>
    </div>
  </div>
  </div>
</footer>
{% endblock %}
<!-- Bloco que adiciona o envio de formulario ao escolher uma cidade -->
{% block extra_media %}
<script>
  $(function () {
    document
      .getElementById("id_cidades")
      .addEventListener("change", function () {
        this.form.submit();
      });
  });
</script>
{% endblock %}