{% extends "base.html" %} {% load static %} {% block content %}
<header>
  <!-- Primeira barra de notificação -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand color-texto font-texto font-whats-botao ms-5" href="#">
        <img
          src="{% static 'img/whatsapp_icon.svg' %}"
          alt="ìcone do WhatsApp"
          width="18"
          height="18"
          class="d-inline-block align-text-top"
        />
        Atendimento WhatsApp
      </a>

      <div class="select-cidades">
        <form class="form-inline">
          {% csrf_token %}
          <div class="form-group mb-2 formatando-label-select">
            <label class="me-5" for="id_cidades">
              <span>Preços válidos para:</span>
              <select name="cidades" class="custom-select" id="id_cidades">
                {% for choice in cidadeForms.cidades %} {{choice}} {% endfor %}
              </select>
            </label>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>

<main></main>

<footer></footer>

{% endblock %}
